.scenes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    .scene {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: rgba($tertiary-color, .5);
        width: 7.2rem;
        padding-top: 1rem;
        padding-bottom: 2rem;
        border-radius: 5rem;
        cursor: pointer;
        transition: 
            background .2s ease,
            transform .3s cubic-bezier(0.87, 0, 0.13, 1)
        ;

        &:hover {
            background-color: #ffffff2a;
            transform: translateY(-1rem);
        }

        &__name {
            font-weight: 500;
        }

        &__icon {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $tertiary-color;
            padding: 2rem;
            border-radius: 6rem;
            margin-bottom: 2rem;
            height: 5.7rem;
            width: 5.7rem;
            transition: all .2s ease;
        }
        
        &.movie.active {
            background-color: $green-color;

            .scene__icon {
                background-color: $navbar-color !important;

                i {
                    color: #fff;
                }
            }
        }

        &.music.active {
            background-color: $red-color;

            .scene__icon {
                background-color: $navbar-color !important;

                i {
                    color: #fff;
                }
            }
        }

        &.night.active {
            background-color: $violet-color;

            .scene__icon {
                background-color: $navbar-color !important;

                i {
                    color: #fff;
                }
            }
        }
        
        &.run.active {
            background-color: $primary-color;

            .scene__icon {
                background-color: $navbar-color !important;

                i {
                    color: #fff;
                }
            }
        }
        
        &.sleep.active {
            background-color: $orange-color;

            .scene__icon {
                background-color: $navbar-color !important;

                i {
                    color: #fff;
                }
            }
        }        
    }

}