*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Rubik", sans-serif;
    overflow-x: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $font-color;
}

.app-container {
    min-height: 896px;
    min-width: 414px;
    border: 1px solid #4e4e4e;
    border-radius: 2.5rem;
    overflow: hidden;
    background-color: $background-color;
}

.inner-container {
    position: relative;
    min-height: 896px;
    width: 100%;
    overflow: inherit;
}